
#api-key-input {
    width: 400px;
}

#sheet-title {
    margin-left: 50px;
    font-size: large;
}

.loading-sheet {
    margin-right: 20px;
}

.form-group {
    display: inline-block;
}
